* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: #212121;
  color: #fff;
}
img {
  width: 320px;
  height: 420px;
  border-radius: 10%;
}
.half-img {
  width: 180px;
  height: 220px;
  border-radius: 20%;
}
p {
  width: 180px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bolder;
}
button {
  margin: 1rem;
  width: 10rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 800;
}
input {
  padding: 10px;
  font-size: large;
  text-align: center;
  border: none;
}

.fullPage {
  height: 100vh;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head {
  background-image: url(bg-images/home.jpeg);
}
.large {
  font-size: x-large;
  font-weight: 900;
}
.chapter1 {
  background-image: url(bg-images/chapter1.jpeg);
  background-size: cover;
}

.chapter2 {
  background-image: url(bg-images/chapter2.jpeg);
  background-size: cover;
}
.chapter3 {
  background-image: url(bg-images/chapter3.jpeg);
  background-size: cover;
}
.chapter4 {
  background-image: url(bg-images/chapter4.jpeg);
  background-size: cover;
}
.options {
  background-image: url(bg-images/options.jpeg);
  background-size: cover;
}

.goodFeelings {
  background-image: url(bg-images/good-feelings.jpeg);
  background-size: cover;
  color: #2466ba;
}
.goodFeelings > * {
  font-size: x-large;
  font-weight: bolder;
}
.end {
  background-image: url(bg-images/end.jpeg);
  background-size: cover;
  background-position: center;
}
.head h1 {
  margin-bottom: 3%;
  font-size: xx-large;
}
.m-left {
  margin-left: 7%;
}
.m-right {
  margin-right: 7%;
}
.m-top {
  margin-top: 7%;
}
.m-bottom {
  margin-bottom: 7%;
}
.options-img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}
.direction-btn button {
  position: absolute;
  top: 85%;
  right: 0;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 25%;
  left: 0;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  display: flex;
  padding: 15px;
  text-decoration: none;
  font-size: 10px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
.step {
  background-color: #fff;
  color: #212121;
  padding: 40px;
  border: 2px dashed #212121;
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  img {
    width: 160px;
    height: 200px;
  }
  p {
    font-size: medium;
  }
  .navbar a {
    display: inline-block;
  }
  .navbar {
    top: 0;
    left: 4%;
  }
  .fullPage {
    text-align: center;
  }
  .m-right,
  .m-left {
    margin: 10px 0;
  }
  .half-img {
    width: 100px;
    height: 120px;
    margin: 10px 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  img {
    width: 220px;
    height: 260px;
  }
  .half-img {
    width: 140px;
    height: 180px;
  }
  p {
    font-size: medium;
  }
}
