* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Goldman', cursive;
}
.App {
  background-color: #212121;
  color: #fff;
}
.form {
  background-color: #ddd;
  min-height: 100vh;
}
.comment-header {
  text-align: center;
  padding: 2rem;
  background-color: #eee;
  color: #333;
}
.comment-form {
  display: flex;
  justify-content: center;
  border-right: 2px solid f2efea;
  padding: 2rem;
  margin-left: 3rem;
}
.comment-input {
  height: 8vh;
  width: 60vw;
  resize: none;
  background-color: center;
  color: #333;
}
.comment-btn {
  background-color: #333;
  color: #fff;
  padding: 2px 8px;
}
.comment-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-left: 3rem;
  width: 60%;
  margin: auto;
}
.comment {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 4px solid #000;
  margin: 4px;
  border-radius: 1rem 3rem;
  color: #1a1c20;
}
.comment:nth-child(odd) {
  background-color: #333;
  color: #fff;
}
.comment:nth-child(even) {
  background-color: #fff;
  color: #333;
}
.delete-text {
  display: flex;
}
.delete-icon {
  margin-right: 0.5rem;
}
.comment-time {
  align-self: flex-end;
}

img {
  width: 320px;
  height: 420px;
  border-radius: 10%;
}
.half-img {
  width: 180px;
  height: 220px;
  border-radius: 20%;
}
p {
  width: 180px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bolder;
}
input {
  padding: 10px;
  font-size: large;
  text-align: center;
  border: none;
}

.fullPage {
  height: 100vh;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head {
  background-image: url(bg-images/home.jpeg);
}
.large {
  font-size: x-large;
  font-weight: 900;
}
.chapter1 {
  background-image: url(bg-images/chapter1.jpeg);
  background-size: cover;
}

.chapter2 {
  background-image: url(bg-images/chapter2.jpeg);
  background-size: cover;
}
.chapter3 {
  background-image: url(bg-images/chapter3.jpeg);
  background-size: cover;
}
.chapter4 {
  background-image: url(bg-images/chapter4.jpeg);
  background-size: cover;
}
.options {
  background-image: url(bg-images/options.jpeg);
  background-size: cover;
}

.goodFeelings {
  background-image: url(bg-images/good-feelings.jpeg);
  background-size: cover;
  color: #2466ba;
}
.goodFeelings > * {
  font-size: x-large;
  font-weight: bolder;
}
.end {
  background-image: url(bg-images/end.jpeg);
  background-size: cover;
  background-position: center;
}
.head h1 {
  margin-bottom: 3%;
  font-size: xx-large;
}
.m-left {
  margin-left: 7%;
}
.m-right {
  margin-right: 7%;
}
.m-top {
  margin-top: 7%;
}
.m-bottom {
  margin-bottom: 7%;
}
.options-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.yes-no-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.direction-btn a {
  position: absolute;
  width: 12rem;
  bottom: 1rem;
  right: 0;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
  text-decoration: none;
  color: black;
  background: white;
  text-align: center;
  padding: 1rem 3rem;
}
.direction-btn a > button {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  border: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 25%;
  left: 0;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 15px;
  text-decoration: none;
  font-size: medium;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
.step {
  background-color: #fff;
  color: #212121;
  padding: 40px;
  border: 2px dashed #212121;
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  img {
    width: 160px;
    height: 200px;
  }
  p {
    font-size: medium;
  }
  .hidden {
    display: none;
  }
  .navbar a {
    display: inline-block;
  }
  .navbar {
    top: 0;
    left: 0;
  }
  .fullPage {
    text-align: center;
  }
  .direction-btn a {
    bottom: -0.8rem;
    right: -0.8rem;
    width: 6rem;
    padding: 0.5rem;
  }
  .m-right,
  .m-left {
    margin: 10px 0;
  }
  .half-img {
    width: 100px;
    height: 120px;
    margin: 10px 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  img {
    width: 220px;
    height: 260px;
  }
  .half-img {
    width: 140px;
    height: 180px;
  }
  p {
    font-size: medium;
  }
}
