* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: #212121;
  color: #fff;
}
img {
  width: 320px;
  height: 420px;
  border-radius: 10%;
}
.half-img {
  width: 180px;
  height: 220px;
  border-radius: 20%;
}
p {
  width: 180px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bolder;
}
button {
  margin: 1rem;
  width: 10rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 800;
}
input {
  padding: 10px;
  font-size: large;
  text-align: center;
  border: none;
}

.fullPage {
  height: 100vh;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head {
  background-image: url('https://images.pexels.com/photos/1299417/pexels-photo-1299417.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.large {
  font-size: x-large;
  font-weight: 900;
}
.chapter1 {
  background-image: url('https://images.pexels.com/photos/64699/pexels-photo-64699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
}

.chapter2 {
  background-image: url('https://images.pexels.com/photos/333850/pexels-photo-333850.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
}
.chapter3 {
  background-image: url('https://i.pinimg.com/564x/61/c5/e9/61c5e9a78f4e77b33dce0993cfeaefa8.jpg');
  background-size: cover;
}
.chapter4 {
  background-image: url('https://i.pinimg.com/564x/15/b4/2f/15b42fdc73b5b47419245578ef00259c.jpg');
  background-size: cover;
}
.options {
  background-image: url('https://akm-img-a-in.tosshub.com/indiatoday/images/story/202001/question-mark-1872665_1280.jpeg?NTImMBvMLbwWNEHaUhOGCndpiOB0704D&size=770:433');
  background-size: cover;
}

.goodFeelings {
  background-image: url('https://images.yourstory.com/cs/wordpress/2018/02/relax.jpg?fm=png&auto=format');
  background-size: cover;
  color: #2466ba;
}
.goodFeelings > * {
  font-size: x-large;
  font-weight: bolder;
}
.end {
  background-image: url('https://image.freepik.com/free-vector/end-neon-signs-style-text_118419-1883.jpg');
  background-size: cover;
  background-position: center;
}
.head h1 {
  margin-bottom: 3%;
  font-size: xx-large;
}
.m-left {
  margin-left: 7%;
}
.m-right {
  margin-right: 7%;
}
.m-top {
  margin-top: 7%;
}
.m-bottom {
  margin-bottom: 7%;
}
.options-img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}
.direction-btn button {
  position: absolute;
  top: 85%;
  right: 0;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 25%;
  left: 0;
  width: 5%;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  display: flex;
  padding: 15px;
  text-decoration: none;
  font-size: 10px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
.step {
  background-color: #fff;
  color: #212121;
  padding: 40px;
  border: 2px dashed #212121;
}
